@media screen and (max-width: 480px) {
	.Child {
		flex-direction: column;
	}	
}

.Child {
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
}