.Container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 30rem;
	height: 15rem;
	margin: 1rem;
	border-radius: 15px;
}

.FirstContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	padding: 2rem;
	border: 2px solid #fff;
	border-radius: 10px;
	background: #ffb4a2;
	transition: box-shadow 0.5s;
}

.Container h1 {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 3px;
	color: #14213d;
	text-align: center;
	margin-bottom: 1.5rem;
}

.Link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Link p {
	font-family: inherit;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
}

.iconLink {
	color: #fff;
}

.Info {
	position: absolute;
	opacity: 0;
	right: 50px;
	height: fit-content;
	margin: 1rem;
	padding: 5px 10px;
	border-radius: 25%;
	transition: all 0.7s;
}

.FirstContent:hover {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.2),
		0 8px 8px rgba(0, 0, 0, 0.2), 0 16px 16px rgba(0, 0, 0, 0.2),
		0 32px 32px rgba(0, 0, 0, 0.2);
}

.Container:hover > .Info {
	right: 0;
	opacity: 1;
	background-color: lightblue;
}
