@media screen and (max-width: 480px) {
	.Container {
		height: 18rem;
		flex-direction: column;
		align-items: center;
	}

	.Content {
		justify-content: center;
		max-width: 50%;
	}

	.Links {
		margin-top: -3rem;
		min-height: 70%;
	}

	.Title {
		height: 50%;
	}
}

.Container {
	display: flex;
	width: 50rem;
	margin: 3rem 0;
}

.Content {
	display: flex;
	width: 100%;
	height: 100%;
}

.ImgContainer {
	overflow: hidden;
	width: 90%;
	border-radius: 15px;
}

.ImgContainerLight {
	border-right: 3px solid #ff8500;
	border-bottom: 3px solid #ff8500;
}

.ImgContainerDark {
	border-right: 3px solid #e0bb00;
	border-bottom: 3px solid #e0bb00;
}

.Img {
	width: 100%;
	height: 100%;
}

.Links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 50%;
}

.Title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	transition: all 0.3s;
}

.Title h1 {
	align-self: flex-end;
}

.TitleLight {
	color: #fdf0d5;
}

.TitleDark {
	color: #e0bb00;
}
