@media screen and (max-width: 480px) {
	.logoFull {
		display: none;
	}
}

@media screen and (min-width: 480px) and (max-width: 992px) {
	.logoFull {
		display: none;
	}
}

.Dark {
	stroke: #e0bb00;
}

.Light {
	stroke: #EF2E45;
}

.logoFull {
	width: 30vw;
	height: 13vh;
}

.path {
	stroke-dasharray: 245.24049377441406;
	stroke-dashoffset: 247.24049377441406;
	fill: transparent;
	stroke-width: 0.8;
	animation: draw 3s linear alternate forwards;
	transition: stroke 1s;
}

@keyframes draw {
	0% {
		stroke-dashoffset: 247.34049377441406;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
