@media screen and (max-width: 480px) {
	div.Container {
		width: 4rem;
	}
}

@media screen and (min-width: 480px) and (max-width: 992px) {
	div.Container {
		width: 4rem;
	}
}

.Container {
	width: 6rem;
}

svg.SVG {
	z-index: 9999 !important;
	max-width: 6rem;
	height: auto;
}

.Path {
	stroke-dasharray: 250;
	stroke-dashoffset: 250;
	fill: transparent;
	stroke-width: 0.5;
	stroke: #ba181b;
	animation: draw 1.5s linear alternate forwards;
}

@keyframes draw {
	0% {
		stroke-dashoffset: 250;
		stroke-width: 0.5;
	}
	80% {
		stroke-width: 0.3;
	}
	90% {
		fill: transparent;
	}
	100% {
		stroke-dashoffset: 0;
		fill: #ba181b;
	}
}
