@media screen and (max-width: 480px) {
	div.Container {
		width: 4rem;
	}
}

@media screen and (min-width: 480px) and (max-width: 992px) {
	div.Container {
		width: 4rem;
	}
}

.Dark {
	stroke: #E0BB00;
	animation: drawDark 1.5s linear alternate forwards;
}

.Light {
	stroke: #219ebc;
	animation: drawLight 1.5s linear alternate forwards;
}

.Container {
	width: 6rem;
}

svg.SVG {
	z-index: 9999 !important;
	max-width: 6rem;
	height: auto;
}

.Path {
	stroke-dasharray: 250;
	stroke-dashoffset: 250;
	fill: transparent;
	stroke-width: 0.5;
	transition: stroke 1s;
}

@keyframes drawLight {
	0% {
		stroke-dashoffset: 250;
		stroke-width: 0.5;
	}
	80% {
		stroke-width: 0.3;
	}
	90% {
		fill: transparent;
	}
	100% {
		stroke-dashoffset: 0;
		fill: #219ebc;
	}
}

@keyframes drawDark {
	0% {
		stroke-dashoffset: 250;
		stroke-width: 0.5;
	}
	80% {
		stroke-width: 0.3;
	}
	90% {
		fill: transparent;
	}
	100% {
		stroke-dashoffset: 0;
		fill: #E0BB00;
	}
}
