@media screen and (max-width: 480px) {
	nav.Nav {
		height: 100px;
	}

	div.LogoMin {
		position: absolute;
		top: 18px;
		left: 20px;
	}

	div.MenuIcon {
		position: absolute;
		top: 25px;
		right: 20px;
	}
}

@media screen and (min-width: 480px) and (max-width: 992px) {
	nav.Nav {
		height: 100px;
	}

	div.LogoMin {
		position: absolute;
		top: 18px;
		left: 20px;
	}

	div.MenuIcon {
		position: absolute;
		top: 25px;
		right: 20px;
	}
}

.Nav {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	height: 150px;
	background-color: #14213d;
}

.LogoMin {
	position: absolute;
	top: 24px;
	left: 25px;
}

.MenuIcon {
	position: absolute;
	top: 50px;
	right: 40px;
}
