.ContainerPrimary {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	padding-top: 5rem;
  z-index: 3000;
}

.MenuContainer {
	width: 20rem;
	height: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 5rem;
	background-color: #ECE9EB;
	border-radius: 5px;
	z-index: 3001;
}

.itemsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10rem;
}